%section.cbp-so-section.page4
  .row
    .six.columns.make-it-appear-left
      .space
      %h4= t('help.title')
      %p
        = t('help.description_1')
        %b= t('help.description_2')
        = t('help.description_3')
      .space
      = image_tag "screenshots/#{I18n.locale}/help.png", alt: 'Example'

    .six.columns.make-it-appear-right
      .space
      = image_tag "screenshots/#{I18n.locale}/congrats.png", alt: 'Example'
      .space
      %h4= t('social.title')
      %p= t('social.description')
      %p
        = t('social.news_1')
        = link_to t('social.news_2'), '#'
        = t('social.news_3')
