#newsletter.cbp-so-section.page5
  #signup.row
    .article.twelve.columns.centered.make-it-appear-top
      = link_to 'https://itunes.apple.com/us/artist/marlon-m-andrade/id680402949', target: :_blank do
        = image_tag 'theme/appstore.png', alt: 'App Store'
      = link_to '#android_google_play', target: :_blank do
        = image_tag 'theme/google_play.png', alt: 'Google Play'
      .space
      %h4= t('subscribe.title')
      = form_tag 'http://guessit.us8.list-manage.com/subscribe/post?u=3cf5b2d0c13f916c2c41a1c9d&amp;id=a6920f4056', method: :post, target: :_blank do
        .seven.columns.first-column
          = email_field_tag :EMAIL, '', class: :email, placeholder: t('subscribe.email')
        .five.columns
          = hidden_field_tag :b_3cf5b2d0c13f916c2c41a1c9d_a6920f4056
          = submit_tag t('subscribe.submit'), class: :button
      %p.spam= t('subscribe.spam')
