%section.cbp-so-section.page2
  .row
    .six.columns.article.make-it-appear-left
      .space
      %h3= t('guess_it.title')
      %p
        = t('guess_it.description_1')
        %b= t('guess_it.description_2')
        = t('guess_it.description_3')
      .space
      %ul.brand
        %li
          = link_to '#', class: :'has-tooltip' do
            %span.tooltip
              %span= t('guess_it.iphone')
            = image_tag 'theme/apple.png', alt: t('guess_it.ico.apple')
        %li
          = image_tag 'theme/android.png', alt: t('guess_it.ico.android'), class: :unavailable
        %li
          = image_tag 'theme/windows.png', alt: t('guess_it.ico.windows'), class: :unavailable

    .iphone.make-it-appear-right
      = image_tag "screenshots/#{I18n.locale}/game.png", alt: t('guess_it.screenshot')
