#games
  .row
    #slider1.four.columns.testblock.flexslider.make-it-appear-left
      %ul.slides
        - @games.each do |game|
          %li
            = link_to game[:url], target: :_blank do
              = image_tag "games/#{game[:key]}.png"
    #slider2.eight.columns.flexslider.make-it-appear-right
      %ul.slides
        - @games.each do |game|
          %li
            = link_to game[:url], target: :_blank do
              %h5.title= t("games.#{game[:key]}.title")
              .sub= t("games.#{game[:key]}.sub")
              .textblock
                %p= t("games.#{game[:key]}.description")
