.cbp-so-section.page5
  #signup.row
    .article.twelve.columns.centered.make-it-appear-top
      = image_tag 'theme/appstore.png', alt: 'AppStore'
      .space
      %h4= t('subscribe.title')
      = form_tag do
        .seven.columns.first-column
          = email_field :email, :email, class: :email, placeholder: t('subscribe.email')
        .five.columns
          = submit_tag t('subscribe.submit'), class: :button
      %p.spam= t('subscribe.spam')
