%section.cbp-so-section.page3
  .row
    .twelve.columns.article.centered.make-it-appear-top
      %h3= t('theme.title')
      %p
        = t('theme.with')
        %b= t('theme.guess_it')
        = t('theme.you_have')
        %b= t('theme.fun')
        = t('theme.test_knowledge')
        %b= t('theme.learn')
      %p
        = t('theme.detail')
      .space
      .space
        = link_to t('theme.games'), '#', id: :'show-games', class: :'border-button'
