.cbp-af-header
  %nav.row
    %ul.right
      %li
        = link_to 'http://www.facebook.com/guessit.mobi', target: :_blank, class: [:button, :fb] do
          = fa_icon 'facebook'
      %li
        = link_to 'https://twitter.com/guessit_mobi', target: :_blank, class: [:button, :tw] do
          = fa_icon 'twitter'
      %li
        = link_to 'http://instagram.com/guessitmobi', target: :_blank, class: [:button, :it] do
          = fa_icon 'instagram'
      %li
        = link_to 'mailto:info@guessit.mobi', target: :_blank, class: [:button, :ml] do
          = fa_icon 'envelope'
    #logo
      = link_to '#' do
        = image_tag 'logo.png', alt: t('navigation.logo')
