.cbp-af-header
  %nav.row
    %ul.right
      %li
        = link_to '#', class: [:button, :fb] do
          = fa_icon 'facebook'
      %li
        = link_to '#', class: [:button, :tw] do
          = fa_icon 'twitter'
      %li
        = link_to '#', class: [:button, :it] do
          = fa_icon 'instagram'
      %li
        = link_to '#', class: [:button, :ml] do
          = fa_icon 'envelope'
    #logo
      = link_to '#' do
        = image_tag 'logo.png', alt: t('navigation.logo')
